html {
    min-height: calc(100% + env(safe-area-inset-top));
    padding: env(safe-area-inset-top) env(safe-area-inset-right)
        env(safe-area-inset-bottom) env(safe-area-inset-left);
    background-attachment: fixed;
    background-image: url("/bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.ms-3,
label {
    margin: 0px !important;
}
a {
    text-decoration: none;
    cursor: pointer;
}
li {
    list-style: none;
}

.btn-check:focus + .btn-outline-primary,
.btn-outline-primary:focus {
    box-shadow: none;
}
.form-control:focus {
    box-shadow: none;
}
