html {
    min-height: calc(100% + env(safe-area-inset-top));
    padding: env(safe-area-inset-top) env(safe-area-inset-right)
        env(safe-area-inset-bottom) env(safe-area-inset-left);
    background-attachment: fixed;
    background-image: url("/bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    margin: 0px;
}
a {
    text-decoration: none;
    cursor: pointer;
}
li {
    list-style: none;
}

.btn-check:focus + .btn-outline-primary,
.btn-outline-primary:focus {
    box-shadow: none;
}
.form-control:focus {
    box-shadow: none;
}

.error {
    font-size: 11px;
    color: red;
}

.select2-container--default .select2-selection--single {
    background-color: #f8f9fc !important;
    border: 1px solid #ced4da !important;
}

/* after mounted */
.add-letter-template .input-card {
    border: 1px solid #80808069;
    border-radius: 10px;
    text-align: right;
    padding: 3px 10px 10px 10px;
}
.add-letter-template .bi-x-circle {
    cursor: pointer;
}
.add-letter-template .bi-x-circle:hover {
    color: blue;
}

.logout {
    padding: 1rem;
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    display: flex;
}

@media (max-width: 500px) {
    .btn,
    .letter-request-operator-content,
    div.dataTables_wrapper div.dataTables_length select,
    div.dataTables_wrapper div.dataTables_filter input {
        font-size: 10px !important;
    }
}
